<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sbor.Reports.Properties.Settings.sbor3ConnectionString"
            connectionString="Data Source=work7r2;Initial Catalog=sbor3;Integrated Security=False;User ID=bis"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>