<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SomeTestContext"
            connectionString="Data Source=.;Initial Catalog=SomeTestContext;Integrated Security=false;User=test;Password=test"
            providerName="System.Data.SqlClient" />

      <add name="BussinessTestContext"
          connectionString="Data Source=.;Initial Catalog=BussinessTestContext;Integrated Security=false;User=test;Password=test"
          providerName="System.Data.SqlClient" />
 
    <add name="PlatformDBConnectionString" connectionString="Data Source=.;Initial Catalog=platform3;Integrated Security=false;User=test;Password=test" providerName="System.Data.SqlClient" />
 
       




    </connectionStrings>
</configuration>