<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
  <add name="AuditEntities" connectionString="metadata=res://*/Auditing.Model.csdl|res://*/Auditing.Model.ssdl|res://*/Auditing.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=platform3_Audit;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>