<nlog autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
   <extensions>
      <add assembly="Platform.Log">
    </add></extensions>
  
  
  <variable name="logDirectory" value="${basedir}/logs/${shortdate}"/>
  <targets>
    <target name="EntityFramework" xsi:type="File" fileName="${logDirectory}/entityframework.log" layout="${longdate} ${level} ${message}  "/>
    <target name="DalSql" xsi:type="File" fileName="${logDirectory}/dalsql.log" layout="${longdate} ${level} ${message}  "/>
    <target name="Operations" xsi:type="File" fileName="${logDirectory}/operations.log" layout="${longdate} ${level} ${message} ${newline} ${exception:format=tostring}"/>
    <target name="Services" xsi:type="File" fileName="${logDirectory}/services.log" layout="${longdate} ${level} ${message} ${newline} ${exception:format=tostring}"/>
    <target name="Exceptions" xsi:type="FilePerMessageTarget" Directory="${logDirectory}/exceptions" layout="${exception:format=tostring}"/>
    <target name="Unity" xsi:type="File" fileName="${logDirectory}/unity.log" layout="${longdate} ${level} ${message}  "/>
    <target name="BL" xsi:type="File" fileName="${logDirectory}/bl.log" layout="${longdate} ${level} ${message}  "/>
    <target name="Decorators" xsi:type="FilePerBuilderTarget" Directory="${logDirectory}/decorators" layout="${longdate} ${level} ${message}  "/>
    <target name="Caching" xsi:type="File" fileName="${logDirectory}/caching.log" layout="${longdate} ${level} ${message}  "/>
    <target name="AuditErrors" xsi:type="File" fileName="${logDirectory}/auditerrors.log" layout="${longdate} ${level} ${message} ${newline}  ${exception:format=Message} "/>
    <target name="ControlsDebug" xsi:type="File" fileName="${logDirectory}/controlsdebug.log" layout="${longdate}${message} "/>

  </targets>
  <rules>
    <logger name="Platform.BusinessLogic.EntityTypes.*" writeTo="BL" minlevel="Error"/>
    <logger name="Platform.BusinessLogic.EntityFramework.*" writeTo="EntityFramework" minlevel="Info"/>
    <logger name="Platform.BusinessLogic.Activity.Operations.*" writeTo="Operations" minlevel="Error"/>
    <logger name="Platform.Web.Services.*" writeTo="Services" minlevel="Error"/>
    <logger name="Platform.Log.DbCommandExtension" writeTo="DalSql" minlevel="Info"/>
    <logger name="Platform.Web.ExtDirectManagement.ExtDirect" writeTo="Exceptions" minlevel="Error"/>
    <logger name="Platform.Unity.*" writeTo="Unity" minlevel="Error"/>
    <logger name="Platform.Log.DecoratorExtensions" writeTo="Decorators" minlevel="Info"/>
    <logger name="Platform.Caching.*" writeTo="Caching" minlevel="Error"/>
    <logger name="BaseApp.Audit.UserlessLogger" writeTo="AuditErrors" minlevel="Error"/>
    <logger name="BaseApp.Audit.Logger" writeTo="AuditErrors" minlevel="Error"/>
    <logger name="BaseApp.Activity.Controls.*" writeTo="ControlsDebug" minlevel="Error"/>
  </rules>
</nlog>